div > h1 {
  color: azure;
  position: absolute;
  top: 90px;
  box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 4em;
}
.nav > ul > a {
  color: white;
  padding: 5px;
  font-size: 1.5em;
  margin: 10px;
  text-decoration: none;
  font-family: "Teko", sans-serif;
  box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.nav {
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #2b2e3b;
  font-family: "raleway";
  border-radius: 10px;
  box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.5);
}
