h1{
    font-family: 'Spicy Rice', cursive;
    font-style: italic;
    font-size:50px ;
}
ol{
     font-size: xx-large;
     font-family: 'Josefin Sans', sans-serif;
}
ul{
    font-size:x-large;
    font-style: oblique;
    font:color blue;
    font-family: 'Baloo Da 2', cursive;
}
body {
    color:white;
    background-position: top right;
    background-size:1600px;
    background-repeat: no-repeat;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXtspbnIIv8Vza6pueSLWRVs7gDvDVvtZpF7ucW2rSkhSt3gnR);
}
